.name-cell {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.name {
    margin-bottom: 0 !important;
    margin-right: 1rem;
    max-width: calc(90% - 64px - 1rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name-input {
    max-width: 45%;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .name {
        max-width: 100%;
        margin-right: 0;
    }
    .name-input {
        max-width: 100%;
        margin-right: 0;
    }
}
