.table-container {
    margin-top: 0.5%;
}

.button-container {
    display: inline-block;
}

.score-container {
    display: inline-block;
    min-width: 20%;
}

.crown-container {
    display: inline-block;
}

.score {
    margin: 0 !important;
}

.face {
    width: 2.5rem;
}
