.table-container {
    margin-top: 0.5%;
}

.face {
    width: 2.5rem;
}

.ant-table tbody > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .ant-table tbody > tr > td {
        padding: 10px;
    }
}

.effort-slider {
    margin-top: 0;
    margin-bottom: 2.5rem;
    margin-right: 1rem;
}
