.container {
    width: auto;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

.top-bar,
.brand,
.about {
    display: flex;
    align-items: center;
}

.brand,
.about {
    margin: 5px 10px;
}

.top-bar {
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
}

.logo-img {
    height: 2rem;
    margin-right: 0.5rem;
}

.about-img {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.brand-name {
    display: inline !important;
    margin: 0 !important;
}
